* {
    padding: 0;
    margin:auto;
    box-sizing: border-box;


}

.conainer {

    display: flex;
    flex-flow: wrap;

}

body {
    background-image: linear-gradient(to left, black, white);
    display: flex;
    justify-content: center;
    align-items: center;

}

.main {
    border-radius: 10px;
    height: 500px;
    width: 25%;
    background-color: black;
    margin: 30px;

}



h1 {
    color: azure;
    margin: 30px 0 0 80px;
    border-radius: 10px;
    height: 40px;
    background-color: navy;
    width: 150px;
}


.infos {

    height: 300px;
    display: flex;
   flex-wrap: wrap;
    align-items: center;
}

h2 {
    margin: 20px 0 0 26px;
    text-decoration: none;

}

.bb {
    margin: 0 0 0 20px;
    padding: 4px;

}

.A {

    height: 25%;
    color: white;

}

.B {
    height: 25%;

}

.C {
    height: 25%;
    color: white;
}

.D {
    height: 25%;
}

.footer {


    height: 130px;

}


.BB {
    border-radius: 5px;
    height: 40px;
    width: 40%;
    margin: 0 0 0 86px;
    background-color: navy;
    padding-top: 10px;

}

a {
    color: white;
    margin: 0 0 0 36px;


}

/*-----media query -----*/
@media (max-width:1200px) {
    .main {
        border-radius: 10px;
        height: 500px;
        width: 300px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
  
    h1 {
        color: azure;
        margin: 10px 0 0 85;
        border-radius: 20px;
        height: 40px;
        background-color: navy;
        width: 150px;
    }

    h2 {
        margin: 20px 0 0 20px;
        text-decoration: none;

    }


}

.A {

    height: 14%;
    color: white;

}

.C {
    height: 14%;
    color: white;
}
